.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.login-wrapper {
    background-color: #fff;
    padding: 1rem;
    max-width: 400px;
    box-shadow: 0 0 5px #dfdddd;
    border-radius: 1rem;
}

form label {
    display: block;
    font-size: 14px;
}

input {
    border-radius: 10px;
    border: none;
}
form div {
    position: relative;
    padding-bottom: 12px;
}
form div input {
    background-color: #f6f6f6;
    padding: 1rem;
}
form div:nth-child(2) {
    margin-top: 1.2rem;
}
form div span {
    color: red;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 13px;
}
input[type=submit] {
    background-color: var(--crimson);
    color: #fff;
    padding: 1rem;
    font-weight: 700;
    font-size: 1rem;
    width: 100%;
    cursor: pointer;
    margin-top: 1.7rem;
}